/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* 
{
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9D9D9;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */

.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  background-color: #000010;
  border-radius: 20px;
  box-shadow: 10px 10px 10px grey;
 }

 .card:hover {
  box-shadow: 50px 50px 50px grey;
 }

.grid-container {
  display: inline-grid;
  grid-template-columns: auto;
}

.grid-item {
  text-align: left;
}

.main-image {
  width: 300px;
  height: 288px;
  border-radius: 20px;
  display: block;
 }

h1, p{
  font-family: 'Roboto Mono', monospace;
  margin: 15px;
  color: white;
}

h1 {
  font-weight: bold;
}

.btn {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #000010;
}

button {
  background-color: white;
  padding: 15px;
  margin-left: 15px;
  border-radius: 25px;
  transition-duration: 0.4s;
  border: none;
}

button:hover {
  background-color: #ff00ff;
  color: white;
}